
.idea/.idea.Fuseki_Access.dir/.idea/dbnavigator.xml
.idea/.idea.Fuseki_Access.dir/.idea/vcs.xml
.idea/.idea.Fuseki_Access.dir/.idea/projectSettingsUpdater.xml
.idea/.idea.Fuseki_Access.dir/.idea/indexLayout.xml
.idea/.idea.Fuseki_Access.dir/.idea/encodings.xml
.idea/.idea.Fuseki_Access.dir/.idea/*